{% extends "base.html" %}
{% block title %}Assign Documents For Signature{% endblock %}
{% block body_id %}assign-signatures{% endblock %}
{% block body %}
<main>
  <h1>{{self.title()}}</h1>
  <table>
    <thead><tr>
      <th>Name</th>
      <th></th>
    </tr></thead>
    {% for resident in residents %}
    <tr>
      <td>
        <label for="{{
            self.body_id() + "-form-input-" + resident.id|string
            }}">{{resident.collation_name -}}
        </label>
      </td>
      <td>
        <input form="{{self.body_id() + "-form"}}" id="{{
            self.body_id() + "-form-input-" + resident.id|string
            }}" type="checkbox" name="user-id" value="{{resident.id}}"/>
      </td>
    </tr>
    {% endfor %}
  </table>
  <form method="post" id="{{self.body_id() + "-form"}}">
    <label>Document to sign:<select name="document-id">
      {% for doc in docs %}
        <option value="{{doc.id}}">{{doc.name}}</option>
      {% endfor %}
    </select></label>
    <button>Assign</button>
  </form>
</main>
{% endblock %}
