{% extends "base.html" %}
{% block title %}Manage Move-ins{% endblock %}
{% block body_id %}manage-moveins{% endblock %}
{% block body %}
<main>
  <h1>{{self.title()}}</h1>
  <h2>Prospective Residents</h2>
  <table>
    <thead><tr>
      <th>Name</th>
      <th>Address</th>
      <th>Status</th>
      <th></th>
    </tr></thead>
    {%- for app in applications %}
    <tr>
      <td rowspan="1">{{app.applicant.full_name}}</td>
      <td>
          {{- app.residence.street -}}
          {% if app.residence.unit_no %} {{app.residence.unit_no}}{% endif %}
      </td>
      <td>{{app.application_status.name}}</td>
      <td>
        <a href="{{url_for(".prospect_details", id=app.id)}}">View Details</a>
      </td>
    </tr>
    {% endfor %}
    {% if applications|count == 0 %}
    <tr>
      <td colspan="4">None</td>
    </tr>
    {% endif %}
  </table>
  <h2>Actions</h2>
  <ul>
    <li><a href="{{url_for('.add_prospie')}}">Register New Prospective Resident</a></li>
    <li><a href="{{url_for('.confirm_movein')}}">Confirm Resident Move-in</a></li>
    <li><a href="{{url_for('.confirm_moveout')}}">Confirm Resident Move-out</a></li>
  </ul>
</main>
{% endblock %}
