{% extends "base.html" %}
{% block title %}Manage Groups{% endblock %}
{% block body_id %}manage-groups{% endblock %}
{% block body %}
<main>
  <h1>{{self.title()}}</h1>
  <h2>Current Groups</h2>
  <table>
    <thead><tr>
      <th>Name</th>
      <th>Members</th>
      <th></th>
    </tr></thead>
    {% for group in groups %}
    <tr>
      <td rowspan="1">{{group.name}}</td>
      <td>
        {%- for person in group.members -%}
          {{person.full_name}}{% if not loop.last %}<br/>{% endif %}
        {%- endfor -%}
      </td>
      <td>
        {%- if group.can_update -%}
        <a href="{{url_for('.edit_group', group_name=group.name)}}">Edit</a>
        {%- endif -%}
      </td>
    </tr>
    {% endfor %}
  </table>
  <h2>Actions</h2>
  <ul>
    <li><a href="{{url_for('.new_group')}}">Create new group</a></li>
  </ul>
</main>
{% endblock %}
